/*---------------------------------

  0.共通のスタイル

  1.form_view.php
    1.1メインビジュアル
    1.2
    1.3

  2.footer

---------------------------------*/

/*---------------------------------

    0.共通のスタイル

---------------------------------*/
body {
    text-align: center;
    padding: 5%;
    background-color: #99CCFF;
}

/*---------------------------------

    1.form_view.php

---------------------------------*/

/*
    添付ファイルフォーム
---------------------------------*/

.custom-file {
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}

.error_text {
    color: red;
}

.check_color {
    margin: 10px;
    color: red;
}

.color_green {
    color: #4CAF50;
}